* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

main {
	display: flex;
	flex-direction: column;
}

body {
    position: relative;
    background-color: #fefaff;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 5vh;
    background-color: #5d495bf0;
    font-family: 'Popins', sans-serif;
}

footer {
    display: grid;
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40px;
    background-color: rgba(26, 25, 25, 0.9);
    color: whitesmoke;
    align-content: center;
    text-align: center;
}

button:focus {
	outline: 0;
}

sup {
  /* Specified in % so that the sup/sup is the
     right size relative to the surrounding text */
  font-size: 55%;

  /* Zero out the line-height so that it doesn't
     interfere with the positioning that follows */
  line-height: 0;

    /* Where the magic happens: makes all browsers position
     the sup/sup properly, relative to the surrounding text */
  position: relative;

    /* Note that if you're using Eric Meyer's reset.css, this
     is already set and you can remove this rule */
  vertical-align: baseline;

    /* Move the superscripted text up */
  top: -0.52em;
}

a sup{
	border-bottom: 3px solid #82818157;
}

a {
	text-decoration: none;
}

/* Setting nav-bar */
.nav-links {
    display: flex;
    justify-content: flex-end;
    width: 85%;
}

.nav-links .pages .element {
	padding-left: 5px;
}

.nav-links li {
    list-style: none;
}

.nav-links a, .profileBtts {
    color: rgb(226, 226, 226);
    text-decoration: none;
    letter-spacing: 3px;
    margin: 7px;
    font-size: 15px;
}

.nav-links .pages a {
    color: black;
}

.nav-links .pages {
	display: flex;
}

/* Logo hover effect */
.logoImg {
	transition: transform .2s;
}

.logoImg:hover {
	transform: scale(1.2);
}

/* Navigation dropdown Contul meu/Cosul meu/Help */
.nav-btn {
	background-color: inherit;
	border: inherit;
    text-decoration: none;
    letter-spacing: 3px;
    margin: 7px;
    font-size: 16px;
}

.nav-btn:hover {
	background-color: #5d495b;
}

/* Navigation dropdown pages (GENERAL) */
.dropdown-menu  {
	overflow: hidden;
	background-color: inherit;
    text-decoration: none;
    letter-spacing: 3px;
    margin-left: 7px;
    font-size: 16px;
    align-self: center;  
}

.dropdown-menu .dropdown-btn {
	font-size: 14px;
	border: none;
	outline: none;
	padding: 7px 10px;
	background-color: inherit;
}

.dropdown-btn:hover {
	background-color: #5d495b;
}

.dropdown-pages {
	display: none;
	position: absolute;
	background-color: #fefaff;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.23);
	z-index: 1;
}

.dropdown-pages .bookTypes,.dropdown-pages .myPage {
	float: none;
	color: black;
	border: 1px solid #af87ab42;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
}

.dropdown-pages a:hover {
	background-color: #af87ab42;
}

.dropdown-menu:hover .dropdown-pages {
	display: block;
}

/* Dropdown menues auth/cart */
.contDesc {
	margin-left: 10px;
	font-size: 14px;
}

.dropdown-pages p {
	float: none;
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
}

.dropdown-pages p:hover {
	cursor: default;
}

.dropdown-pages .profileBtts, .dropdown-pages .formLog a {
	background-color: #fefaff;
	text-align: center;
	width: 92%;
}

.dropdown-pages .formLog a {
	width: 70%;
} 

.dropdown-pages .auth-btn:hover {
	background-color: #af87ab42;
}

.dropdown-cont {
	width: 360px
}

.dropdown-pages .trProd {
	position: absolute;
	top: -10px;
	left: 14.2%;
	width: 0;
	height: 0;
	content: "";
	border-left: 10px solid #00000000;
	border-right: 10px solid transparent;
	border-bottom: 10px solid #fefaff;
}

.dropdown-pages .trMyPage {
	position: absolute;
	top: -10px;
	left: 59.98%;
	width: 0;
	height: 0;
	content: "";
	border-left: 10px solid #00000000;
	border-right: 10px solid transparent;
	border-bottom: 10px solid #fefaff;
}

.dropdown-pages .trCont {
	position: absolute;
	top: -10px;
	left: 43.8%;
	width: 0;
	height: 0;
	content: "";
	border-left: 10px solid #00000000;
	border-right: 10px solid transparent;
	border-bottom: 10px solid #fefaff;
}


.dropdown-menu .dropdown-btn {
	letter-spacing: 3px;
}

#cosAjutor {
	align-self: center;
	padding: 7px 10px;
}

/* Contul meu / Profilul meu / Creeare cont buttons */
.auth {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.profile {
	width: 20.5vh;
}

.dropdown-pages .formLog option {
	border-bottom: 1px solid #af87ab29;
	margin: -10px 0 4px 0;
	width: 170px;
}

/* Div Produse dropdown */ /* Side bar adjustments */
.content {
    display: flex;
    width: 700px;
}

.types .bookTypes,.dropdown-pages .myPage {
    text-decoration: none;
    font-size: 11px;
    color: black;
}

.content .sidebar .types{
    display: flex;
    flex-direction: column;
}

.content .sidebar {
	overflow-X: hidden;
	overflow-Y: scroll;
    width: 366px;
    height: 800px;
}

/* Description div */
.content .description {
    display: grid;
    width: 300px;
    margin: 0 0.5vh;
    padding: 15px 0 0 15px;
    border-left: 1px solid #8069868a;
}

/* Scrollbar - Sidebar - Produse */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #7e468abf;
}
 
::-webkit-scrollbar-thumb {
  background: #a48bab;
}

::-webkit-scrollbar-thumb:hover {
  background: #5d495bf0; 
}

/* Produse subtypes */
.description .typesB {
	display: flex;
	flex-direction: column;
	font-size: 11px;
}

.description .typesB a {
	font-size: 11px;
	padding: 10px 14px;
	margin-bottom: 5px;
}

/* Content index.php */
.container {
	height: auto;
	width: auto;
	border: 1px solid pink;
	margin: 0 15px;
	border-radius: 7px;
}

/* NOUTATI */
.noutati {
	margin-top: 20px;
}

.all {
	display: flex;
	padding: 15px;
}

.all .sideAll {
    align-self: center;
    margin-right: 10px;
}

.all .noutatiArrow {
	align-self: center;
	margin-left: 10px;
	margin-right: 10px;
}

.all .fa-chevron-left, .all .fa-chevron-right {
	font-size: 25px;
	color: #5d495bf0;
}

/* Products In Noutati */
#arrowRight {
	margin-left: -10px;
}

.contentAll {
	display: inherit;
}

.contentAll .productDisplay {
	border: 2px solid black;
	margin-right: 45px;
	text-align: end;
	border-radius: 10px;
}

/* Each product */
.noutBookName, .noutBookAuthor {
	text-align: center;
	padding-top: 5px;
}

.noutBookPrice {
	font-weight: normal;
	margin-left: 12px;
}

.productDisplay {
	width: 220px;
	height: 420px;
	display: flex;
	flex-direction: column;
}

.productDisplay .noutatiImg {
	width: 200px;
	height: 300px;
}

.productDisplay .book {
	display: flex;
	align-self: center;
	margin: 10px;
	
}

.prodDiscount {
    background-color: #ec5b4b;
    width: 40px;
	margin-top: 15px;
	margin-left: -93px;
	border-radius: 5px 0 0 5px;
	font-size: 16px;
	height: 15px;
	color: #fefaff;
	padding: 5px 5px 5px 10px;
}

.trDiscount {
	position: absolute;
	margin-top: 40px;
	margin-left: 224px;
	width: 0;
	height: 0;
	content: '';
	border-right: 7px solid transparent;
	border-top: 7px solid #6b6463;
}

.contentAll .prodDetails .productDisplay .pretProd {
	font-size: 45px;
	display: flex;
	position: absolute;
	bottom: 0;
}

.prodDetails {
	display: flex;
	margin-right: 15px;
	position: relative;
}

/* 'Adauga in cos' button */
.buttAdauga {
	width: 115px;
	background-color: #826c7f;
	height: 25px;
	align-self: center;
	margin-left: 5px;
	border: 0;
	border-radius: 5px
}

.buttAdauga:hover {
	background-color: #826c7fc7;
	cursor: pointer;
}

/* RECOMANDARI */
.recomandari {
	display: flex;
	background-image: url("../images/indexPhotos/CarturestiRecomandariBackgroundClean2.png");
	background-repeat: no-repeat;
	background-size: 1170px 540px;
	background-position: center;
	height: 540px;
	width: 1170;
	align-self: center;
	justify-content: center;
}

.recProd {
	/*border: 1px solid #808080;*/
	border-radius: 3px;
	background-color: white;
	display: flex;
	margin-top: 9px;
	align-self: center;
	width: 905px;
	height: 305px;
}

.linesBookStyle {
	align-self: center;
	height: 100px;
	width: 1000px;
	border-left: 5px solid pink;
    border-right: 5px solid pink;
}

.recArrow {
	align-self: center;
}

.arrLeft {
	margin-right: 80px;
}

.arrRight {
	margin-left: 80px;
}

.recArrow .fa-chevron-left, .recArrow .fa-chevron-right {
	font-size: 50px;
	color: #562b2b;
}

.recBook {
	width: 150px;
	height: 250px;
	margin-left: 65px;
	margin-right: 65px;
	align-self: center;
}

.descriptionBook {
	position: relative;
	display: flex;
	flex-direction: column;
	margin-right: 10px;
	margin-top: 30px;
}

.recBookAuthor {
	color: #a0737b;
	font-family: 'Zilla Slab', sans-serif;
}

.recBookTitle {
	font-family: 'Zilla Slab', sans-serif;
}

.recBookDesc {
	font-family: 'Quicksand', sans-serif;
	font-size: 15px;
}

.recDetButt {
	position: absolute;
	bottom: 10;
	width: 78px;
	height: 30px;
	border: none;
	border-radius: 3px;
	background-color: #826c7f;
	align-self: flex-end;
	font-size: 15px;
}

.recDetButt:hover {
	cursor: pointer;
	background-color: #826c7fc7;
}